version: '3'

services:

  postgres:
    image: postgres:11-alpine
    env_file:
      - .env
    ports:
      - "15432:5432"
    volumes:
      - ./.docker-volumes/dev/postgresql-data:/var/lib/postgresql/data
