[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
isort = "*"
pylint-django = "==2.0.8"
pytest = "*"
pytest-django = "*"
factory-boy = "*"
pydocstyle = "*"

[packages]
django = "*"
gunicorn = "*"
python-dotenv = "*"
psycopg2-binary = "*"
gevent = "*"
djangorestframework = "*"
django-filter = "*"
django-cors-headers = "*"

[requires]
python_version = "3.7"
